*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
  background: #1c1920;
  color: #EAEAEA;
  font-family: 'Readex Pro', sans-serif;
  background: #1c1920 url('./assets/stars.svg');
}

.crawler section {
  height: 40vh !important;
}

.crawler  {
  background: transparent !important;
}
